/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
.loading{
 display:flex;
  justify-content: center;
  position:absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
}